<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="com.softsquared.template.kotlin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="AllowBackup">

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".src.main.mainAlert.MainActivityAlert"
            android:exported="false" />
        <activity
            android:name="com.softsquared.template.kotlin.HuploadActivity"
            android:exported="false" />
        <activity
            android:name="com.softsquared.template.kotlin.src.main.Chatting.ChatActivity"
            android:exported="false" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="6bb4b7ce20abe665e038087fef481411" />

        <activity
            android:name=".src.main.mainHome.ProfileChangeActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.mainHome.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.mainHome.ListItemActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.mainHome.DetailItemActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.mainHome.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.myAccount.SearchPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".src.main.signup.SignUpMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".src.main.login.LoginMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".src.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="com.softsquared.template.kotlin.MainActivity"
        android:exported="false"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="72iexgyjya" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="6bb4b7ce20abe665e038087fef481411"/>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/ic_stat_ic_notification" />-->
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

</application>


</manifest>